In [2]:
import os
os.chdir(r"C:\Users\User\Downloads")
import pandas as pd
import matplotlib.pyplot as plt
datasheet=pd.read_csv("general_data (1).csv")
datasheet=datasheet.dropna()
datasheet.Attrition.replace(('Yes', 'No'), (1, 0), inplace=True)
datasheet.Gender.replace(('Male', 'Female'), (1, 0), inplace=True)

In [3]:
datasheet

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,0,Travel_Rarely,Sales,4,3,Other,1,4405,0,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,0,Travel_Rarely,Research & Development,5,4,Medical,1,4406,0,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,0,Travel_Rarely,Research & Development,2,4,Medical,1,4407,1,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,0,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,1,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,0,Travel_Rarely,Sales,18,2,Medical,1,4409,1,...,0.0,Y,14,8,1,10.0,2,9,7,8

In [7]:
datasheet3=datasheet[['Age','DistanceFromHome','Education','MonthlyIncome',
'NumCompaniesWorked', 'PercentSalaryHike','TotalWorkingYears', 'TrainingTimesLastYear',
'YearsAtCompany','YearsSinceLastPromotion', 'YearsWithCurrManager']].median()
datasheet3

Age                           36.0
DistanceFromHome               7.0
Education                      3.0
MonthlyIncome              49190.0
NumCompaniesWorked             2.0
PercentSalaryHike             14.0
TotalWorkingYears             10.0
TrainingTimesLastYear          3.0
YearsAtCompany                 5.0
YearsSinceLastPromotion        1.0
YearsWithCurrManager           3.0
dtype: float64

In [8]:
datasheet4=datasheet[['Age','DistanceFromHome','Education','MonthlyIncome',
'NumCompaniesWorked', 'PercentSalaryHike','TotalWorkingYears', 'TrainingTimesLastYear',
'YearsAtCompany','YearsSinceLastPromotion', 'YearsWithCurrManager']].mean()
datasheet4

Age                           36.933364
DistanceFromHome               9.198996
Education                      2.912369
MonthlyIncome              65061.702419
NumCompaniesWorked             2.693291
PercentSalaryHike             15.210634
TotalWorkingYears             11.290278
TrainingTimesLastYear          2.798266
YearsAtCompany                 7.010497
YearsSinceLastPromotion        2.191693
YearsWithCurrManager           4.126198
dtype: float64

In [6]:
datasheet2=datasheet[['Age','DistanceFromHome','Education','MonthlyIncome',
'NumCompaniesWorked', 'PercentSalaryHike','TotalWorkingYears', 'TrainingTimesLastYear',
'YearsAtCompany','YearsSinceLastPromotion', 'YearsWithCurrManager']].skew()
datasheet2

Age                        0.413048
DistanceFromHome           0.955517
Education                 -0.288977
MonthlyIncome              1.367457
NumCompaniesWorked         1.029174
PercentSalaryHike          0.819510
TotalWorkingYears          1.115419
TrainingTimesLastYear      0.551818
YearsAtCompany             1.764619
YearsSinceLastPromotion    1.980992
YearsWithCurrManager       0.834277
dtype: float64

In [4]:
datasheet1=datasheet[['Age','DistanceFromHome','Education','MonthlyIncome',
'NumCompaniesWorked', 'PercentSalaryHike','TotalWorkingYears', 'TrainingTimesLastYear',
'YearsAtCompany','YearsSinceLastPromotion', 'YearsWithCurrManager']].kurt()

In [5]:
datasheet1

Age                       -0.409517
DistanceFromHome          -0.230691
Education                 -0.565008
MonthlyIncome              0.990836
NumCompaniesWorked         0.014307
PercentSalaryHike         -0.306951
TotalWorkingYears          0.909316
TrainingTimesLastYear      0.494215
YearsAtCompany             3.930726
YearsSinceLastPromotion    3.592162
YearsWithCurrManager       0.170703
dtype: float64

We can see from krutosis and skewness that the distribution is not normal distribution hence we use Non-Parametric test. 
Exception:Age

In [4]:
corr_matrix=datasheet.corr()
corr_matrix

,Age,Attrition,DistanceFromHome,Education,EmployeeCount,EmployeeID,Gender,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.158399,0.007376,-0.033900,NaN,0.008105,-0.040625,-0.001137,-0.045163,0.299527,-0.032561,NaN,-0.031504,0.680037,-0.028962,0.311281,0.215650,0.201580
Attrition,-0.158399,1.000000,-0.009449,-0.017106,NaN,-0.004621,0.018396,-0.012382,-0.030160,0.042831,0.033153,NaN,-0.008164,-0.169670,-0.047586,-0.133003,-0.031423,-0.154692
DistanceFromHome,0.007376,-0.009449,1.000000,-0.007491,NaN,-0.000326,-0.042610,-0.039990,-0.022757,-0.014449,0.037720,NaN,0.009353,0.009574,-0.008957,0.030746,0.002243,0.021773
Education,-0.033900,-0.017106,-0.007491,1.000000,NaN,-0.009389,-0.017671,0.045822,0.007289,-0.016210,-0.041054,NaN,0.002386,-0.009228,0.009939,0.005997,0.023457,0.005645
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008105,-0.004621,-0.000326,-0.009389,NaN,1.000000,-0.012812,-0.003090,0.007865,0.000719,-0.004877,NaN,-0.013488,-0.001688,-0.012102,0.004117,0.000814,0.009079
Gender,-0.040625,0.018396,-0.042610,-0.017671,NaN,-0.012812,1.000000,-0.026019,0.006805,-0.066860,0.013207,NaN,0.022043,-0.028251,-0.032597,-0.018659,-0.023018,0.002688
JobLevel,-0.001137,-0.012382,-0.039990,0.045822,NaN,-0.003090,-0.026019,1.000000,0.046688,-0.009759,0.010874,NaN,0.000365,-0.036293,-0.031931,-0.063360,-0.059680,-0.053898
MonthlyIncome,-0.045163,-0.030160,-0.022757,0.007289,NaN,0.007865,0.006805,0.046688,1.000000,-0.021446,0.004607,NaN,0.027242,-0.034398,0.049780,0.000088,0.064470,0.023095
NumCompaniesWorked,0.299527,0.042831,-0.014449,-0.016210,NaN,0.000719,-0.066860,-0.009759,-0.021446,1.000000,0.030064,NaN,0.016291,0.238807,-0.031335,-0.117213,-0.035855,-0.109372
PercentSalaryHike,-0.032561,0.033153,0.037720,-0.041054,NaN,-0.004877,0.013207,0.010874,0.004607,0.030064,1.000000,NaN,0.012104,-0.018480,-0.036720,-0.029022,-0.028654,-0.039687
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031504,-0.008164,0.009353,0.002386,NaN,-0.013488,0.022043,0.000365,0.027242,0.016291,0.012104,NaN,1.000000,0.003138,-0.068028,0.009369,0.019889,0.019398
TotalWorkingYears,0.680037,-0.169670,0.009574,-0.009228,NaN,-0.001688,-0.028251,-0.036293,-0.034398,0.238807,-0.018480,NaN,0.003138,1.000000,-0.041459,0.627738,0.404058,0.458640
TrainingTimesLastYear,-0.028962,-0.047586,-0.008957,0.009939,NaN,-0.012102,-0.032597,-0.031931,0.049780,-0.031335,-0.036720,NaN,-0.068028,-0.041459,1.000000,-0.010447,0.015340,-0.015792
YearsAtCompany,0.311281,-0.133003,0.030746,0.005997,NaN,0.004117,-0.018659,-0.063360,0.000088,-0.117213,-0.029022,NaN,0.009369,0.627738,-0.010447,1.000000,0.618722,0.769161
YearsSinceLastPromotion,0.215650,-0.031423,0.002243,0.023457,NaN,0.000814,-0.023018,-0.059680,0.064470,-0.035855,-0.028654,NaN,0.019889,0.404058,0.015340,0.618722,1.000000,0.510341
YearsWithCurrManager,0.201580,-0.154692,0.021773,0.005645,NaN,0.009079,0.002688,-0.053898,0.023095,-0.109372,-0.039687,NaN,0.019398,0.458640,-0.015792,0.769161,0.510341,1.000000

In [32]:
from scipy.stats import chi2_contingency
chitable=pd.crosstab(datasheet.Attrition,datasheet.TotalWorkingYears)
chitable

TotalWorkingYears,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,30.0,31.0,32.0,33.0,34.0,35.0,36.0,37.0,38.0,40.0
Attrition,,,,,,,,,,,,,,,,,,,,,
0,18,122,66,99,152,214,307,189,259,255,...,21,24,27,18,12,9,18,12,3,0
1,14,119,27,27,36,48,65,52,47,30,...,0,3,0,3,3,0,0,0,0,6

In [33]:
stats,p,dof,expected=chi2_contingency(chitable)

In [34]:
print(stats,p)

360.55237130857233 1.1111356799847907e-53

H0: Attrition Rate and TotalWorkingYears are not dependent on each other
Result: Reject H0

In [17]:
from scipy.stats import chi2_contingency
chitable=pd.crosstab(datasheet.Attrition,datasheet.MonthlyIncome)
chitable

MonthlyIncome,10090,10510,10520,10810,10910,11020,11180,11290,12000,12230,...,197170,197400,198330,198450,198470,198590,199260,199430,199730,199990
Attrition,,,,,,,,,,,,,,,,,,,,,
0,0,3,3,3,3,3,3,0,3,3,...,3,3,3,3,3,0,3,3,3,3
1,3,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,3,0,0,0,0

In [18]:
stats,p,dof,expected=chi2_contingency(chitable)
print(stats,p)

4006.81847073142 2.581841223898078e-261

H0: Attrition Rate and MonthlyIncome are not dependent on each other
Result: Reject H0

In [21]:
from scipy.stats import chi2_contingency
chitable=pd.crosstab(datasheet.Attrition,datasheet.PercentSalaryHike)
stats,p,dof,expected=chi2_contingency(chitable)
print(stats,p)

19.132665173042696 0.15994173676121282

H0: Attrition Rate and MonthlyIncome are not dependent on each other
Result: Reject H0

In [27]:
from scipy.stats import chi2_contingency
chitable=pd.crosstab(datasheet.Attrition,datasheet.YearsAtCompany)
stats,p,dof,expected=chi2_contingency(chitable)
print(stats,p)

284.1905063085053 2.434867576146702e-40

H0: Attrition Rate and YearsAtCompany are not dependent on each other
Result: Reject H0

In [28]:
from scipy.stats import chi2_contingency
chitable=pd.crosstab(datasheet.Attrition,datasheet.YearsWithCurrManager)
stats,p,dof,expected=chi2_contingency(chitable)
print(stats,p)

220.87460913849154 1.7543020110084458e-37

H0: Attrition Rate and YearsWithCurrManager are not dependent on each other
Result: Reject H0

In [29]:
from scipy.stats import chi2_contingency
chitable=pd.crosstab(datasheet.Attrition,datasheet.Education)
stats,p,dof,expected=chi2_contingency(chitable)
print(stats,p)

6.2735361781270615 0.17963050984273224

H0: Attrition Rate and Education are not dependent on each other
Result: Accept H0

In [30]:
from scipy.stats import chi2_contingency
chitable=pd.crosstab(datasheet.Attrition,datasheet.Gender)
stats,p,dof,expected=chi2_contingency(chitable)
print(stats,p)

1.3825823839528295 0.23966176275638887

H0: Attrition Rate and Gender are not dependent on each other
Result: Accept H0

In [31]:
from scipy.stats import chi2_contingency
chitable=pd.crosstab(datasheet.Attrition,datasheet.JobLevel)
stats,p,dof,expected=chi2_contingency(chitable)
print(stats,p)

7.036480574687178 0.13397290697032432

H0: Attrition Rate and JobLevel are not dependent on each other
Result: Accept H0